
@{
    ViewData["Title"] = "createUser";
}

<form action="@Url.Action("addUserSubmit","Home")" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="text" name="UserName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Father's Name</label>
        <input type="text" name="FatherName" class="form-control" id="exampleInputPassword1" placeholder="Father Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Number</label>
        <input type="text" name="phoneNumber" class="form-control" id="exampleInputPassword1" placeholder="Number">
    </div>
    <label>Roles</label>
    <select name="RoleId">
        @foreach (var item in ViewData["roles"] as List<LastOne.Models.Entity.Role>)
        {
            <option value="@item.Id">@item.RoleName</option>
        }
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

