@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<LastOne.Models.Entity.Role>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section class="roles">
    <form action="@Url.Action("addRole","Home")" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Role Name</label>
            <input type="text" name="RoleName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter role">
        </div>
        <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
    <br />
    <select>
        @foreach (var item in Model)
        {
            <option value="@item.RoleName">@item.RoleName</option>
        }
    </select>
    <br />
    <a href="@Url.Action("createUser","Home")" class="btn btn-success">Add user</a>
</section>
